
@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Only hide horizontal scrolling */
   /* Allow vertical scrolling */
}

@media (max-width: 768px) {
  body {
    overflow-x: auto; /* Allow horizontal scroll on mobile if necessary */
    overflow-y: auto; /* Explicitly allow vertical scroll too */
  }
}

#root {
  min-height: 100%;
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

