
@import "tailwindcss";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;  
  }

  @media (max-width: 768px) {
    body {
      overflow-x: auto; /* Or 'scroll' depending on your needs */
    }
  }
  
  #root {
    height: 100%;
  }